/*
 *  ## @@Master variables file ##
 *  This file is used primarily for colors, borders, anything for the theme of the application
 */

/*
 *  ## @Colors ##
 *  Neg = lighter
 *  Pos = darker
 */

// Primary
$p1: #282a30;
// Positive
$p2: darken($p1, 5%);
$p3: darken($p2, 5%);
$p4: darken($p3, 5%);
// Negative
$p-2: lighten($p1, 5%);
$p-3: lighten($p-2, 5%);
$p-4: lighten($p-3, 5%);

// Secondary
$s1: #c5c9d4;
// Positive
$s2: darken($s1, 5%);
$s3: darken($s2, 5%);
$s4: darken($s3, 5%);
// Negative
$s-2: lighten($s1, 5%);
$s-3: lighten($s-2, 5%);
$s-4: lighten($s-3, 5%);

// Text
$t1: #212733;
// Positive
$t2: darken($t1, 5%);
// Negative
$t-2: lighten($t1, 5%);
$scrollbar_color: #4E342E;

// Extras
$safe: #0CAD1C;
$danger: #D5133F;
$warn: gold;
$cancel: $s4;

$darkbrown: #380e02;

// Valuable & upgrade themes
$valuable: rgb(206, 22, 206);
$upgrade: rgb(187, 107, 16);

// Border colors
$p3-border: 1px solid lighten($p3, 30%);

/*
 *  ## @Fonts ##
 */

$f-main: "Brush Script MT", cursive;
@font-face {
    font-family: "Caveat";
    src: url(../../../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
$f-secondary: "Caveat", $f-main;
//$f-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*
 *  ## @Borders ##
 */

// Radius
$br_xlrg: 10px;
$br_lrg: 8px;
$br_med: 6px;
$br_sm: 4px;
$br_xsm: 2px;
$circle: 500px;

// Scrollbar
$scrollbar_track_color: rgba(#ffffff, 0);
$scrollbar_thumb_color: $scrollbar_color;
$scrollbar_size: 5px;
$scrollbar_track_border_radius: 9px;
* {
    &::-webkit-scrollbar {
        width: $scrollbar_size;
    }
    ::-webkit-scrollbar-track {
        background: $scrollbar_track_color;
        border-radius: $scrollbar_track_border_radius;
    }
    ::-webkit-scrollbar-thumb {
        background: $scrollbar_thumb_color;
        border-radius: $scrollbar_track_border_radius;
        
    }
}